# exclude hidden R profile files
.Rproj.user

# exclude data but keep summaries/ config tables
data/*
!data/metadata
data/metadata/*
!data/metadata/*.yml
!data/ncbi_seqs
!data/pinniped_list.nwk
!data/pinniped_ref_genomes.tsv
!data/topology.tree
!data/maffilter_templ.txt
!data/proto.vcf
!data/*.pop
# exclude quarto compilation side-products but track reports
qmd/*
!qmd/*.qmd
.quarto/
styles*
!styles.scss

py/*
!py/*.py

# exclude nextflow logs and cache
nf/*/*
!nf/*/*.nf

# exclude results by default
results/*

img/*
img/illustrations

.snakemake/

/.quarto/

logs
tmp