/*-- scss:defaults --*/
$clr-alert: #db4a32;

// Base document colors
$navbar-bg: #282828;
$navbar-fg: white;
$navbar-hl: $clr-alert;

// Code blocks
$code-block-bg-alpha: -.8;

// links
$link-color: $clr-alert;

// callout boxes
$callout-color-note: $navbar-bg;
$callout-color-tip: #cccccc;
$callout-color-caution: $navbar-bg;
$callout-color-warning: $clr-alert;


.callout {
    border-radius: .1rem !important;
}

h1, h2, h3 {
  font-family: "Josefin Sans", "Open sans","sans";
  font-weight: lighter;
}

.table, table {
  font-family: Josefin Sans Light;
}

th {
  font-size: 13.5px;
}

//.sourceCode {
//  font-family: "Fira sans";
//}